@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,400&display=swap');

.dark {
    --color-bg-primary: rgb(103 44 0);
    --color-bg-secondary: rgb(92, 61, 46);
    --color-bg-nav: rgb(18 14 13 / 60%);
    --color-text-primary: rgb(255 196 121);
    --color-text-secondary: rgb(255 208 148 / 83%);
}

.light {
    --color-bg-primary: rgb(255, 237, 219);
    --color-bg-secondary: rgb(237, 205, 187);
    --color-bg-nav: rgb(227, 183, 160);
    --color-text-primary: rgb(111, 70, 40);
    --color-text-secondary: rgb(82, 32, 8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    min-height: 100vh;
    background-color: var(--color-bg-primary);
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: var(--color-bg-nav);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links > a {
    font-size: 1.5rem;
    color: var(--color-text-secondary);
    text-decoration: none;
}

.nav-links>a:hover {
    cursor: default;
    text-decoration: underline;
}

nav > button {
    width: 150px;
    padding: 10px;
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}

nav > button:hover {
    background-color: var(--color-bg-secondary);
    transform: scale(105%);
}

main {
    padding: 100px 20px 0 20px;
    color: var(--color-text-secondary);
}

h1 {
    font-style: italic;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.basic-info {
    max-width: 70%;
    font-size: 1.25rem;
}

.basic-info a {
    color: var(--color-text-secondary);
    font-style: italic;
}

.projects {
    width: 100%;
    padding: 100px 20px 0 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
}

.project {
    max-width: 350px;
    padding: 10px;
    background-color: var(--color-bg-secondary);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--color-text-secondary)
}

.project > img {
    width: 100%;
    border-radius: 6px;
    height: 70%;
}

.project > h2 {
    font-size: 1.75rem;
    font-weight: 500;
}

.project > p {
    margin-bottom: auto;
}

.project-links {
    display: flex;
    justify-content: space-between;
}

.project-links > a {
    font-size: 1rem;
    color: var(--color-text-secondary);
}

.project-links>a:hover {
    color: var(--color-text-primary);
    cursor: pointer;
}